.title {
  text-align: center;
  font-size: 40px;
  font-style: italic;
}
.cards-container {
  background-color: #414446;
  opacity: 0.8;
  padding-bottom: 300px;
  padding-top: 200px;
}

.cards-group {
  text-align: center;
}

.name {
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 23px;
  line-height: 0.7;
}

.link {
  text-decoration: none !important;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  line-height: normal;
}

.search-name {
  border-radius: 5px;
  width: 100%;
}

.search-name::placeholder {
  color: blue;
  font-style: italic;
  font-weight: bold;
}

.search-name-container {
  text-align: center;
  margin: 20px;
}

.graphics-card-list {
  padding: 35px !important;
}

.card-footer {
  text-align: center;
  border: none;
  background-color: #414446;
}
.my-pagination /deep/ .ngx-pagination .current {
  background: red;
}
.my-pagination /deep/ .ngx-pagination {
  padding: 0;
  margin: 0;
  color: #000000;
}

ul {
  list-style-type: none;
}
