<div class="title">Tarjetas gráficas</div>

<div class="cards-container graphics-card-list">
  <div class="search-name-container">
    <input
      type="”text”"
      name="”searchTerm”"
      [(ngModel)]="searchTerm"
      placeholder="Busca una tarjeta gráfica"
      class="search-name"
    />
  </div>
  <div class="cards-group">
    <div
      *ngFor="
        let grapicsCard of graphicsCardList
          | filter: searchTerm
          | paginate: { itemsPerPage: 2, currentPage: p }
      "
    >
      <ul>
        <li>
          <h3 class="name">
            <a
              class="link"
              [routerLink]="['/graphics-cards/', grapicsCard._id]"
              >{{ grapicsCard.name }}</a
            >
          </h3>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-footer">
    <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
